{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% load socialaccount %}
{% providers_media_js %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Log In</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Login</button>
                <div class="multiple_login my-3">
                    <a type="button" class="btn btn-outline-primary" href="{% provider_login_url 'facebook' %}">Facebook
                    </a>
                    <a type="button" class="btn btn-outline-secondary" href="{% provider_login_url 'google' %}">Google
                    </a>
                    <a type="button" class="btn btn-outline-success" href="{% provider_login_url 'linkedin_oauth2' %}">LinkedIn
                    </a>
                    <a type="button" class="btn btn-outline-danger" href="#">Twitter</a>
                    <a type="button" class="btn btn-outline-dark" href="{% provider_login_url 'github' %}">GitHub</a>
                </div>
                <small class="text-muted ml-2">
                    <a href="{% url 'password_reset' %}">Forgot Password?</a>
                </small>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                Need An Account? <a class="ml-2" href="{% url 'register' %}">Sign Up Now</a>
            </small>
        </div>
    </div>
{% endblock content %}